 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Montserrat:wght@400;700&family=Oswald&display=swap');
 @import url("https://fonts.googleapis.com/css?family=Roboto:100");
 @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
 @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" );
 @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" );
 :root{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
 }
 *{
     margin: 0;
     padding: 0;
 }
header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    background-color:#C8CBFE;
    width: 100%;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;    
    margin-left: 10px;
    margin-right: 10px;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
#form{
    padding: 10px;
}
.container{
text-transform: uppercase;
box-sizing: border-box;
display: block;
font-weight: 400;
width: 35vw;
display: flex;
flex-direction: row;
justify-content: space-around;
margin-left: 500px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.container a {
    text-decoration: none;
}
.container a:hover {
    text-decoration: underline;
}
body {
    background-color:floralwhite
}
.logo{
    width: 90px;
    height: 120px;
}
main{
    margin-top: 150px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: #DAB5D6;
    }
}
.pricing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #C8CBFE;
    justify-content: space-around;
}
.about__us{
    display: flex;
    flex-direction: column;
}

.about__us-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.general{
    display: flex;
    flex-direction: row;
    background-color: #DAB5D6;
    justify-content: center;
}

.services{
    margin-top: 50px;
    margin-bottom: 50px;
}
#video{
    margin-left: 400px;
}
.photos{
    display: flex;
    justify-content: row;
}
.same{
  border: solid 1px purple;
  border-radius: 1px;
  margin: 10px;
  height: 313px;
  width: 313px;
  text-align: center;
}
#submit{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
.headingname{
    background-color: floralwhite;
    height: 50px;
    padding-top: 15px;
}
#submit {
    border-radius: 5px;
    color: white;
    background-color:plum;
    padding: 5px 10px 8px 10px;
    margin-top: 10px;
  }

  #submit:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

@keyframes background-color{
  100%{
background-color: purple;
  }
}
#email{
    padding: 10px;
    margin-bottom: -10px;
}